/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: white;
}

.container {
    background-color: white;
}

.top-nav {
    justify-content: center;
    align-content: center;
    background-color: #ABA8A9;
}

.nav-list{
    background-color: #ABA8A9;
    margin-left: 20rem;
    margin-right: -20rem;
}

a.nav-link {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}













a{
    /*No underline*/
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
    color: white;
}

p{
    font-size: 3rem;
    font-weight: 300;
}

.construction {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

.construction p {
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-description{
    margin-left: 30em;
    margin-right: 30em;
    justify-content: center;
    align-content: center;
}

.about-description p {
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-size: 3rem;
    font-weight: 100;
    /* text-align: center; */
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contact-beg p {
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-beg {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

.profile {
    display: block;
    /* box-shadow: 0 0 8px 8px white inset; */
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    width: 200px;
    /* border: 2px solid white; */
    /* border-top: 3px solid white; */
    box-shadow: 5px 10px 18px #888888;
}

.social-media {
    font-size: 7rem;
    font-weight: 300;
}

.social-list{
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

ul {
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

li {
    margin: 0 2rem;
    font-weight: 200;
    color: white;
    display: inline-block;
}

.landing-text{
    padding-top: 50px;
}

.landing-text p{
    color: black;
    font-weight: lighter;
    font-size: 5rem;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*footer*/
.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ABA8A9;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.copyright p{
    font-size: 2rem;
    font-weight: lighter;
}