/* NAV BAR */
.top-nav {
    justify-content: center;
    align-content: center;
    /* background-color: #ABA8A9; */
}

/* LANDING TEXT */

/* .row.landing-text {
    border: 2px solid black;
} */

#profile {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    box-shadow: 5px 10px 18px #888888;
}

/* .row.inner-landing-text-p {
    border: 2px solid black;
} */

.row.inner-landing-text-p p{
    color: black;
    font-weight: lighter;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ABOUT */


/*#about-description{
    justify-content: center;
    align-content: center;
}

#about-description-p {
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-size: 3rem;
    font-weight: 100;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}













a{
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
    color: white;
}

p{
    font-size: 3rem;
    font-weight: 300;
}

.construction {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

.construction p {
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-beg p {
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-beg {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}


.social-media {
    font-size: 7rem;
    font-weight: 300;
}

.social-list{
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

ul {
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

li {
    margin: 0 2rem;
    font-weight: 200;
    color: white;
    display: inline-block;
}


.copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ABA8A9;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.copyright p{
    font-size: 2rem;
    font-weight: lighter;
} */