/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: fantasy, sans-serif;
    color: #3366ff;
}

body{
    width: 100%;
    height: 100%;
}